body{
    background: linear-gradient(rgb(4, 177, 4),rgb(232, 232, 6),rgb(255, 62, 62));
}
h1{
    background: linear-gradient(blue,white,silver);
    text-align: center;
    border: 2px solid black;
    color: black;
    
}
h2{
    color: white;
    text-align: center;
}


p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}
ol{
    background: linear-gradient(green,yellow,red);
    border: 2px solid black;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    list-style-position: inside;
}
tr,td{
    
    border: 1px solid black;
    text-align: center;
    
}

table{
    margin-left: 250px;
    margin-right: 250px;
    width: 60%;
    border-collapse: collapse;
    background: rgba(0, 249, 87, 0.8);
    position: center;
    z-index: 1;
    
}
h4{
    text-align: center;
}
div{
    padding-left: 30px;
    background-image:url(img/pelotanegra.jpeg);
    text-align: center;

}

